<head>
  <title><%= @page_title %></title>
  <link rel="stylesheet" href="/home.css" />
</head>

<body>



  <h1><%= @page_title %></h1>
  <h3> </h3>
  <ul >
    <li><a href="http://localhost:9393/leaderboard">Leaderboard</a></li>
    <li><a href="http://localhost:9393/team/Patriots">Patriots</a></li>
    <li><a href="http://localhost:9393/team/Broncos">Broncos</a></li>
    <li><a href="http://localhost:9393/team/Steelers">Steelers</a></li>
    <li><a href="http://localhost:9393/team/Colts">Colts</a></li>

  </ul>

</body>
</html>
